@import 'tailwindcss';
@config "../tailwind.config.js";

@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Variable';
  src: url('./assets/fonts/Inter-Variable.ttf') format('truetype');
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }